{% extends 'base.html.twig' %}

{% block title %}Article index
{% endblock %}

{% block body %}
	{# <h1>Article index</h1> #}


	{# {{ dump(articles) }} #}

		<div id="zone-affichage" class="container-fluid text-center"> <div class='row '>
			<div class='col-md-3 col-12 mb-2 '>
				<a href="{{ path('app_article_new') }}">
					<button type='button' class='btn btn-primary col-12 bi bi-plus-circle' id="btn-ajout">&nbsp;Ajouter</button>
				</a>
			</div>
			<div class='col-md-9 col-12'><input type='search' class=' form-control col-12' id='search' placeholder='Recherche...' name='search'></div>
		</div><br>
	</div>
	<div id="zone-affichage" class="container-fluid text-center">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>ID</th>
					<th>NOM</th>
					<th>PRIX ACHAT</th>
					<th>VOLUME</th>
					<th>TITRAGE</th>
					<th>TYPE BIERE</th>
					<th>MARQUE</th>
					<th>COULEUR</th>
					<th>ACTIONS</th>
				</tr>
			</thead>
			<tbody>
				{% for article in articles %}
					<tr>
						<td>{{ article.id }}</td>
						<td>{{ article.nom }}</td>
						<td>{{ article.PrixAchat }}</td>
						<td>{{ article.volume }}</td>
						<td>{{ article.titrage }}</td>

						{% if article.typeBiere == null %}
							<td>{% trans %}N/A{% endtrans %}</td>
						{% else %}
							<td>
								{{article.typeBiere.nom}}
							</td>
						{% endif %}
						{% if article.marques == null %}
							<td>{% trans %}N/A{% endtrans %}</td>
						{% else %}
							<td>
								{{article.marques.nom}}
							</td>
						{% endif %}
						{% if article.couleurs == null %}
							<td>{% trans %}N/A{% endtrans %}</td>
						{% else %}
							<td>
								{{article.couleurs.nom}}
							</td>
						{% endif %}
						<td>
							<a href="{{ path('app_article_show', {'id': article.id}) }}">show</a>
							<a href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="6">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
